body {
  font-family: "GmarketSansMedium";
  margin: 0;
  background-image: linear-gradient(to top, #f3afde 0%, #ff8ee5 100%);
  background-size: cover;
}
h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-size: 5rem;
}
.container {
  background: #fff;
  min-height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 50px;
}
.inputArea {
  text-align: center;
  display: flex;
  justify-content: space-between;
  border: 5px solid #f25ddc;

  overflow: hidden;
  margin: 40px 0;
}
.inputArea input {
  background: none;
  width: 80%;
  border: none;
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
}
.inputArea button {
  width: 30%;
  border: none;
  background: #f25ddc;
  font-size: 1.5rem;
  color: #fff;
}
/* .inputArea button:hover {
  color: #10595d;
} */

.taskArea {
  margin: 20px 0;
}
.taskTab {
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}
.taskTab div {
  width: 100px;
  text-align: center;
  padding: 1rem;

  background: #8cc1ef;
  color: #fff;
  cursor: pointer;
}
#underLine {
  position: absolute;
  width: 100px;
  left: 0;
  top: 50px;
  padding: 0;
  /* z-index: 2; */
  border-radius: 0;
  border-bottom: 4px solid #f852c3;
}
.taskBoard {
  background: #8cc1ef;
  padding: 50px;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.task {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
  margin-bottom: 5px;
  background: #fff;

  transition: all 0.3s ease-out;
}

.task button {
  border: none;
  width: 40px;
  height: 40px;
  background: #ff6b9d;
  color: #fff;
  font-size: 1.2rem;
}

.task button i {
  vertical-align: middle;
}

.task.inactive {
  background: rgba(58, 58, 58, 0.7);
}

.task.inactive:hover {
  border-radius: 10px;
}

.taskDone {
  text-decoration: line-through;
  color: #070707;
}
