body {
  margin: 0;
  background-image: url(images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  background-color: pink;
  min-height: 100vh;
}
.task-area {
  border: 1px solid gray;
  margin-top: 2em;
}

.task-tabs {
  display: flex;
  border-bottom: 1px solid gray;
  position: relative;
}

.task-tabs div {
  padding: 1em;
}

#under-line {
  height: 4px;
  background-color: hotpink;
  position: absolute;
  width: 53px;
  left: 0px;
  top: 52px;
  padding: 0px;
}

.task {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
